<section class="py-3">
  <main class="container py-5 col-md-8">
    <h3 class="pb-3">Registeration Form</h3>
    <form action="">
      <div class="py-2">
        <label for="first-name" class="form-label">First Name:</label>
        <input
          type="text"
          name="first-name"
          id="first-name"
          class="col-md-12 form-control"
        />
      </div>
      <div class="py-2">
        <label for="last-name" class="form-label">Last Name:</label>
        <input
          type="text"
          name="last-name"
          id="last-name"
          class="col-md-12 form-control"
        />
      </div>
      <div class="py-2">
        <label for="Age" class="form-label">Age:</label>
        <input
          type="number"
          name="Age"
          id="Age"
          class="col-md-12 form-control"
        />
      </div>
      <div class="py-2">
        <label for="email" class="form-label">Email:</label>
        <input
          type="email"
          name="email"
          id="email"
          class="col-md-12 form-control"
        />
      </div>
      <div class="py-2">
        <label for="password" class="form-label">Password:</label>
        <input
          type="password"
          name="password"
          id="password"
          class="col-md-12 form-control"
        />
      </div>
      <div class="d-flex flex-column pt-4">
        <button type="submit" class="btn btn-primary align-self-end">
          Register
        </button>
      </div>
    </form>
  </main>
</section>
