@use "../../../styles/variables";

.border-style::after {
  content: "";
  border: 1px solid variables.$borderColor;
}

.border-style::before {
  content: "";
  border: 1px solid variables.$borderColor;
  width: 25%;
}
